 @import url(./fonts/bebasneue.css);
@import url(./fonts/stylesheet.css);
body {
    font-family: 'Reem Kufi', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-color: black;
}

.page {
    margin: auto;
    width: 100%;
    color: white;
}
.section-text {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    white-space: normal;
    max-width: 100%;
}
.section-title {
    font-size: 30px;
}
.name {
    margin: 0;
}
.position {
    margin: 10px 0;
}
.header {
    
    width: 100%;
    color: white;
    font-family: 'Bebas Neue', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    border-bottom: 1px solid grey;
    padding: 20px 0;
    background-color: #AE3842;
}
.photo {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    align-self: center;
    border-radius: 125px;
    border: solid;
    border-color: black;
}
.main-info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 250px);
}
.icon_link {
    display: block;
    margin: 0 10px;
}
.content {
    padding: 0 0 0 15px;
    background-color: black;
    display: grid;
    grid-template-columns: 35% calc(65%-15px);
    grid-template-areas: 
    "skills job"
    "education job"
    "dop-info job";
    gap: 15px;
    column-gap: 30px;
}
.contacts {
    display: flex;
    flex-direction: row;
}
.link {
    text-decoration: none;
}
.about-me {
    display: flex;
    flex-direction: column;
    grid-area: about;
}
.skills {
    display: flex;
    flex-direction: column;
    grid-area: skills;
}
.dop-info {
    display: flex;
    flex-direction: column;
    grid-area: dop-info;
}
.job {
    display: flex;
    flex-direction: column;
    grid-area: job;
}
.education {
    display: flex;
    flex-direction: column;
    grid-area: education;
}
.education-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

}
.years, .institution {
    margin: 0 20px 0 0;
    width: max-content;
}
.institution {
    width: 133px;
}
.years {
    min-width: 85px;
}
.institution {
    font-weight: bold;
}
.job-container {
    display: flex;
    align-content: flex-start;
}
.job-description-container {
    margin-left: 20px;
}
.link {
    font-size: 18px;
    color: dodgerblue;
}
.link:hover {
    color: #65b3ff;
}
.job-title {
    margin: 0;
    font-size: 18px;
}
.job-speciality {
    margin: 10px 0;
    color: dodgerblue;
    font-size: 18px;
}
.project-container {
    margin: 20px 0;
}
@media screen and (max-width:500px) {
    .body {
        width: auto;
        height: auto;
        margin: 0;
    }
    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "contacts"
        "about"
        "skills"
        "education"
        "job" 
        "job" 
        "job" 
        "dop-info";
        justify-content: center;
        gap: 15px;
        max-width: 90vw;
    }
    .page {
        max-width: 380px;
        padding-left: 40px;
        padding-bottom: 15px;
        margin: 0;
    }
    .main-info {
        margin: 0;
        width: calc(100vw - 200px);
    }
    .job-container {
        width: fit-content;
    }
    .name {
        color: white;
        font-size: 30px;
    }
    .photo {
        width: 124px;
        height: 124px;
        border-radius: 62px;
    }
    .institution {
        min-width: 130px;
        max-width: 130px;
    }
}
.project-list {
    max-width: 50%;
}